html
    head 
    body 
        h1 Full Name: #{details.fullname}
        h2 Profession: #{details.profession}
        h2 Industry: #{details.industry}
        h2 Mobile: #{details.mobile}
        h2 EmailID: #{details.email}
